body{
    font-family: 'Noto Serif', serif;
    margin: 0%;
}

h1{
    font-size: 60px;    
}

h2{
    font-size: 60px;
    font-weight: 700;
}

h3{
    font-size: 30px;
    font-family: sans-serif;
}

.border-line{
    border-radius: 5%; 
    border-left: 6px solid;
    border-image: linear-gradient(red, rgb(139, 77, 77));
    border-image-slice: 1;
}

p{
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 400;
    padding-bottom: 20px;
    padding-top: 20px;
    letter-spacing: 2px;
    line-height: 25px;
}

.orange-color{
    color: orange;
}

.flex-container{
    display: flex;
    margin-bottom: 80px;
    padding: 5px;
}

.button-linked{
    text-decoration: none;
    background-color:rgb(230, 64, 64);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;
    padding-right: 5%;
    padding-top: 20px;
}

.mission-2022-item{
    width: 30%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;
}



.mission-2022{
    width: 100%;
    text-align: center;

}


#mission-web{

    background-color: #edf3fc;
    border-radius: 20px;
    text-align: left;
    margin-left: 10%;

  
}
#vision-web{
    background-color: rgb(241, 222, 219);
    border-radius: 20px;
    text-align: left;

}
#goals-web{
    background-color: lightgoldenrodyellow;
    border-radius: 20px;
    text-align: left;
    margin-right: 10%;
   
}



.dev-limits{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: left;
    text-align: left;
    background-size: 300px;
    margin-right: 5%;
    margin-left: 5%;
}

 
.global-community{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: right;
    text-align: left;
    background-size: 300px;
    margin-right: 5%;
    margin-left: 5%;
}

h4{
    font-size: 50px;
    margin-top: 5px;

}
.build-app{
    background-image: url(images/shapes/shape-2.png);
    background-repeat: no-repeat;
    background-position: left;
    text-align: left;
    background-size: 150px;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 10%;
    text-align: center;

}

.build-app-item{

    margin-left: 5%;
    margin-right: 5%;
    text-align: left;
}

#build-app-image{
    margin-left: 5%;
}
#text-app{
    margin-right: 5%;

}

footer{
    color: white;
    background-color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
}